﻿@{
    ViewBag.Title = "About";
    var variable = "this is a variable";
}
<h2>@ViewBag.Title. @ViewBag.BatCuCaiGi</h2>
<h3>@ViewBag.Message - @variable</h3>

<p>Use this area to provide additional information.</p>
