﻿@{
    ViewBag.Title = "Home Page";
}
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <h3>Categories</h3>
            </h3>
        </div>
        <div class="panel-body">
            <ul class="category-list">
                <li class="active"><a href="#">Social</a></li>
                <li><a href="#">Politics</a></li>
                <li>
                    <a href="#">Life style</a>
                </li>
            </ul>
            <h3>Most read</h3>
            <ul class="media-list">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://via.placeholder.com/100x100" alt="Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Text goes here...</p>
                    </div>
                </div>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://via.placeholder.com/100x100" alt="Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Text goes here...</p>
                    </div>
                </div>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://via.placeholder.com/100x100" alt="Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Text goes here...</p>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><h3>Social</h3></h3>
        </div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="article-detail.html"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</strong></a>
                    </h3>
                </div>
                <div class="panel-body">
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                </div>
                <div class="panel-footer">
                    <a href="#">tag1</a> <a href="#">tag2</a>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="article-detail.html"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</strong></a>
                    </h3>
                </div>
                <div class="panel-body">
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                </div>
                <div class="panel-footer">
                    <a href="#">tag1</a> <a href="#">tag2</a>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="article-detail.html"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</strong></a>
                    </h3>
                </div>
                <div class="panel-body">
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                </div>
                <div class="panel-footer">
                    <a href="#">tag1</a> <a href="#">tag2</a>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="article-detail.html"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</strong></a>
                    </h3>
                </div>
                <div class="panel-body">
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                </div>
                <div class="panel-footer">
                    <a href="#">tag1</a> <a href="#">tag2</a>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="article-detail.html"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</strong></a>
                    </h3>
                </div>
                <div class="panel-body">
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                </div>
                <div class="panel-footer">
                    <a href="#">tag1</a> <a href="#">tag2</a>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="article-detail.html"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</strong></a>
                    </h3>
                </div>
                <div class="panel-body">
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                </div>
                <div class="panel-footer">
                    <a href="#">tag1</a> <a href="#">tag2</a>
                </div>
            </div>
        </div>
    </div>
</div>